body{background-color: #b8b2b2;}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Serif';
}
html,body{height: 100%;width: 100%;margin:0;padding: 0;}

#projects {
    background-color: #b8b2b2;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

.project {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 0 15px 15px;
}
.project {
    float: left;
    width: 222px;
    height: 311px;
}
.grid {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}
div.projects {
    height: 652px;
}
div.projects {
    float: left;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
}
div.projects .controls {
    position: absolute;
    right: 0;
    bottom: 15px;
}
div.projects .controls {
    float: left;
    width: 222px;
    height: 311px;
}
.controls .mask:hover,.project:hover {
    cursor: pointer;
}
.controls .mask {
    float: left;
    position: relative;
    background: url(../img/project_card_bg.png) no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 32px;
}
div.projects .controls .bottom{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
div.projects .controls .bottom {
    background: url(../img/project_card_bot_bg.png) no-repeat;
    position: absolute;
    bottom: -9px;
    right: 0;
    width: 222px;
    height: 66px;
}

div.projects .controls .bottom+.bottom+.bottom {
    bottom: -3px;
}
div.projects .controls .bottom+.bottom {
    bottom: -6px;
}

div.projects .controls:hover .bottom+.bottom+.bottom {
    bottom: -8px;
}
div.projects .controls:hover .bottom+.bottom {
    bottom: -14px;
}
div.projects .controls:hover .bottom {
    bottom: -20px;
}


.project.ani0 {
    right: 751px;
    bottom: 400px;
}
.project.ani1 {
    right: 514px;
    bottom: 400px;
}
.project.ani2 {
    right: 731px;
    bottom: 300px;
}
.project.ani3 {
    right: 494px;
    bottom: 300px;
}
.project.ani4 {
    right: 711px;
    bottom: 200px;
}
.project.ani5 {
    right: 474px;
    bottom: 200px;
}
.project.ani6 {
    right: 691px;
    bottom: 100px;
}
.project.ani7 {
    right: 454px;
    bottom: 100px;
}
.project.ani8 {
    right: 671px;
    bottom: 000px;
}
.project.ani9 {
    right: 434px;
    bottom: 000px;
}

.project span{display: inline-block;width: 180px;height: 269px;}
.project.ani0 span{background: url(../img/A.png) no-repeat;}
.project.ani1 span{background: url(../img/J.png) no-repeat;}
.project.ani2 span{background: url(../img/A.png) no-repeat;}
.project.ani3 span{background: url(../img/J.png) no-repeat;}
.project.ani4 span{background: url(../img/J.png) no-repeat;}
.project.ani5 span{background: url(../img/A.png) no-repeat;}
.project.ani6 span{background: url(../img/A.png) no-repeat;}
.project.ani7 span{background: url(../img/J.png) no-repeat;}
.project.ani8 span{background: url(../img/J.png) no-repeat;}
.project.ani9 span{background: url(../img/A.png) no-repeat;}

.aniwz {
    width: 222px;
    height: 311px;
    position: absolute;
    right: 0;
    bottom: 326px;
    margin: 0 0 15px 15px;
    text-align: center;
    font-size: 32px;
}
.text{padding-top: 110px;}
.start{padding-top: 130px;}
.project .front {
    background: url(../img/project_front_bg.png) no-repeat;
    display: table;
}
.project .back, .project .front {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.project .back.bshadow, .project .front.fshadow {
    box-shadow:0px 0px 5px 10px #fefa01;
}

.project .back {
    background: url(../img/project_back_bg.png) no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #fff;
    font-size: 42px;
}
.project .back, .project .front {
    position: absolute;
    left: 0;
    top: 0;
    width: 222px;
    height: 311px;
    padding: 0 16px;
    text-align: center;
}

.project, .project .back, .project .front, .socials a, .transform_holder .back, .transform_holder .front, .transform_holder .transform {
    -webkit-transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
    -moz-transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
    -o-transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
    -ms-transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
    transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
}
.project {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}
.project .back, .project .front {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.project .front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
}
 .project .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.project.hover .front, .project.flipped .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.project.hover .back, .project.flipped .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
